@import url("../../styles/fonts.scss");
$border-scale: 2px;
$border-scale-hover: 3px;
$rems: 1rem;
.btn-header
{
    background: transparent;
    border: $border-scale solid #fff;
    border-radius: 0;
    margin: auto 0;
    height: 70%;
    transition: ease 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    h2
    {
        font-size: $rems;

        font-family: "Orbitron", sans-serif;
    }
    &:hover
    {
        border: red solid 2px;
        border-radius: 10px;
        h2
        {
            color: red;
        }
    }
}
