.service-card {
    gap: 20px;
    width: fit-content;
    border-radius: 20px;
    border: 3px solid red;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow:0 3px 10px 0px red;

    img {
        height: auto;
        border-radius: 8px;
        overflow: hidden;
        width: 100%;
    }
    p {
        font-size: 2rem;
        cursor: pointer;
        
    }
}
.services-section
{
    margin-top: 50px;
}