@font-face {
  font-family: "Orbitron";
  src: url("../assets/fonts/XoloniumRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'tamo';
  src: url('../assets/fonts/tamo.ttf') format('truetype');
}