.hero-block {
    width: 100%;
    height: 100vw;
    position: relative;
    height: fit-content;
    overflow: hidden;
    .img-hero-block {
        
        width: 100%;
        height: 100%;
        img {
            width: 100%;     
            display: block;  
            overflow: hidden;
        }
    }

    .dark-hero-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;   // вот ключевая правка
        background: #000;
        opacity: 0.5;
    }
    
    .hero-container-text {
        width: 50%;
        position: absolute;
        top: 30%;
        left: 0%;
        color: white;
        text-align: left;
        .main-hero-block {
            font-size: 4rem;
        }
        .secondary-hero-block {
            font-size: 1.7rem;
        }
    }
}
.services-card
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 1vw;
    grid-column-gap: 1vw;

}