.header {
    background: linear-gradient(135deg, #1a1a1a 0%, #2c2c2c 100%);
    border-bottom: 3px solid red;
    box-shadow:0 2px 20px 0px red;
    text-align: center;
    color: white;
    position:sticky;
    top: 0;
    z-index: 10;
    width: 100vw;

    .container
    {
        display: flex;
        justify-content: space-between;
        .logo-container
        {
            padding: 1rem;
            img
            {
                width: calc(16px * 10);
                height: auto;
            }
        }
        nav
        {
            display: flex;
            gap: 5px;
        }
    }
}
